<head>
  <title>Create Article</title>
</head>

<body class="background_article">
  <% if @article.errors.any? %>
  <h3 style="margin-left: 1em; color: red;">The following error(s) casued a problem.<h3>
    <ul>
      <% @article.errors.full_messages.each do |error|%>
          <div style="color: red; font-size: 15px;">
            <li><%= error %></li>
          </div>
      <% end %>
    </ul>
  <% end %>

  <div class="animated fadeIn" style="-webkit-animation-delay: 0.25s;">
    <h1 class="title_article"> Create an article </h1><br><br><br>
  </div>

  <%= form_for @article, :url => {:action => 'create'} do |f| %>
    <center>
      <div class="animated fadeIn" style="-webkit-animation-delay: 0.5s;">
        <%= f.text_field :title, size: "50x1", :placeholder => 'Title'%><br><br><br><br>
      </div>
      <div class="animated fadeIn" style="-webkit-animation-delay: 0.75s;">
        <%= f.text_area :description, size: "100x10", :placeholder => 'Description' %><br><br>
      </div>
      <div class="animated fadeIn" style="-webkit-animation-delay: 1s;">
        <%= f.submit %>
      </div>
    </center>
  <% end %>
</body>
