<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'basic.css' %>

    <!-- bootstrap stuff -->
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>

    <!-- <div class="container-fluid">
      <div class="row-fluid border-between">
        <div class="col-md-3" style="background-color: #263238; text-align: center">
          <p class="link"><%= link_to('Home', {:controller => 'welcome', :action => 'home'}, class: 'link_color') %></p>
        </div>
        <div class="col-md-3" style="background-color: #263238; text-align: center; border-left: 3px solid #009688;">
          <p class="link"><%= link_to('About', {:controller => 'welcome', :action => 'about'}, class: 'link_color') %></p>
        </div>
        <div class="col-md-3" style="background-color: #263238; text-align: center; order-left: 3px solid #009688;">

        </div>
        <div class="col-md-3" style="background-color: #263238; text-align: center; order-left: 3px solid #009688;">

        </div>
      </div>
    </div> -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand" style="margin-right: 1em; font-size: 25px;">
          MegaAwesomeProjects
        </div>
      </div>
      <ul class="nav navbar-nav">
        <li><%=link_to('Home', {:controller => 'welcome', :action => 'home'})%></li>
        <li><%=link_to('About', {:controller => 'welcome', :action => 'about'})%></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to('Projects Homepage', {:controller => 'projects', :action => 'index'}) %></li>
          <li><%= link_to('1. alpha_blog', {:controller => 'articles', :action => 'index'}) %></li>
        </ul>
      </li>



        <li><a href="https://github.com/guardianz95/test_app" target="_blank">Github</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
